.advantages {
  background-color: @basic-white;
  overflow: hidden;
}

.advantages__title {
  .setfont(18px,24px,@basic-black,700);
  margin: 0;

  @media (min-width: @desktop-width) {
    padding-top: 59px;
    .setfont(30px,30px,@basic-black,700);
  }
}

.advantages__description {
  .setfont(14px,24px,@grey-blue,400);
  margin: 0;

  @media (min-width: @desktop-width) {
    padding-top: 35px;
    .setfont(18px,30px,@grey-blue,400);
  }
}

.advantages__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    text-align: start;
    align-items: flex-start;
  }
}

.advantages__list__back {
  background-color: @grey-dark;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 60px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
    bottom: 0;
    left: 0;
    top: -59px;
    background-color: @grey-dark;
  }
}

.advantages__list {

  margin-top: 250px;
  padding-left: 0;
  margin-bottom: 0;
  position: relative;

  @media (max-width: @tablet-width) {
    padding-bottom: 325px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding-left: 50%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.advantages__image {
  @media (max-width: @desktop-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    height: 382px;
    object-fit: contain;
    order: -1;
  }

  &--permanently {
    @media (max-width: @tablet-width) {
      display: block;
      position: absolute;
      bottom: -40px;
    }

    @media (max-width: @desktop-width) and (min-width: @tablet-width) {
      display: block;
      position: absolute;
      bottom: -40px;
      left: 20px;
      z-index: 2;
    }

    @media (min-width: @desktop-width) {
      position: static;
    }
  }
}
