
.contacts__title {
  @media (max-width: @tablet-width) {
    .setfont(24px,28.8px,@grey-blue,300);
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    .setfont(40px,54.75px,@grey-blue,300);
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    .setfont(50px,68px,@grey-blue,300);
    width: 100%;
  }
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.contacts__text {
  .setfont(18px,24.5px,@grey-blue,700);
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    &--phone,
    &--email {
      padding-top: 36px;
    }

    &--guest {
      padding-top: 27px;
    }
    width: 50%;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
  }
}

.contacts__phone {
  .setstyle();
}

.contacts__email {
  .setstyle();
}

.contacts__address {
  .setstyle();
}

.setstyle() {
  text-decoration: none;
  .setfont(24px,33px,@red-pink,300);

  @media (min-width: @desktop-width) {
    padding-top: 22px;
  }
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  background-color: @basic-white;
  justify-content: center;
  padding-top: 40px;

  @media (max-width: @mobile-only) {
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 65px;
  }
}

@media (max-width: @mobile-only) {
  .contacts__text--phone {
    padding-top: 35px;
    margin-top: 0;
  }

  .contacts__text--email {
    margin-top: 0;
  }

  .contacts__text--guest {
    padding-top: 2px;
    margin-top: 0;
  }
}

.contacts__text--email {
  @media (min-width: @desktop-width) {
    order: 4;
    padding-top: 39px;
  }
}

.contacts__text--phone {
  @media (min-width: @desktop-width) {
    padding-top: 39px;
  }
}

.contacts__text--guest {
  @media (min-width: @desktop-width) {
    order: 3;
    padding-top: 39px;
  }
}

.contacts_wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: @mobile-only) {
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    justify-content: center;
  }
}
