.form {
  .travel-advanages__item,
  .app__item {
    list-style-type: none;
  }
}

.form__label {
  .setfont(14px,30px,@red-pink,400);
}

.form__input {
  .setfont(18px,30px,@grey-blue,400);
  border: 2px solid @grey-white;
  border-radius: 1px;
}

.form__field-title {
  .setfont(14px,18px,@red-pink,400);
}

.form__checkbox-label {
  .setfont(14px,30px,@grey-blue,400);
}

.form__field--grey {
  background-color: @grey-dark;
}

.form__radio-label {
  .setfont(18px,30px,@red-pink,400);
}

.form__textarea-input {
  .setfont(18px,30px,@grey-dark,400);
  border: 2px solid @grey-white;
  border-radius: 1px;
}

.form__remark {
  .setfont(14px,30px,@grey-blue,400);
}

.form__remark-start {
  color: @red-pink;
}
