.form-gallery {
  &__button {
    box-sizing: border-box;
    border-radius: 30px;
    .setfont(18px,18px,@red-pink,700);

    &--post {
      border: 3px solid @red-pink;
    }

    &--cancel {
      border: 3px solid @grey-blue;
      opacity: 0.1;
      color: @grey-blue;
    }
  }
}
