h1 {
  .setfont(24px,32.68px,@basic-white,300);
  text-align: center;
  margin: 0;
  margin-bottom: auto;
  margin-top: 102px;

  @media (min-width: @tablet-width) {
    .setfont(50px,68px,@basic-white,300);
    margin-top: 191px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 184px;
  }
}
