
.map__image {
  width: 100%;
  height: 200px;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}

.map {
  position: relative;
  width: 100%;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 0% 0%);
    bottom: 0;
    left: 0;
    background-color: @basic-white;
    top: -1px;

    @media (min-width: @tablet-width) {
      height: 68px;
    }

    @media (min-width: @desktop-width) {
      height: 95px;
    }
  }
}
