.my-photo {
  background-color: @grey-dark;
}

.my-photo__form {
  margin-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    padding-bottom: 54px;
  }
}

.my-photo__tools-lable {
  content: "";
  background-size: cover;

  &--cutting {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 44px;
    height: 44px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  .my-photo__tools-lable-svg {
    fill: @grey-blue;
    opacity: 0.3;
  }

  &:hover .my-photo__tools-lable-svg {
    fill: @grey-blue;
    opacity: 0.5;
  }
}

.my-photo__tools-lable--active .my-photo__tools-lable-svg {
  fill: @red-pink;
  opacity: 1;
}

.my-photo__range-filter {
  /*-webkit-appearance: none;*/
  appearance: none;
  height: 2px;
  border-radius: 50px;
  background: @grey-blue;
  outline: none;
  opacity: 0.7;
  position: relative;

  @media (max-width: @mobile-only) {
    display: none;

    &--current {
      display: inline-block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: @grey-blue;
    bottom: -34px;

    @media (max-width: @mobile-only) {
      left: -60px;
    }

    @media (min-width: @tablet-width) {
      width: 275px;
    }

    @media (min-width: @desktop-width) {
      width: 410px;
    }
  }
}

.my-photo__range-filter::-webkit-slider-thumb {
  /*-webkit-appearance: none;*/
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: @basic-white;
  cursor: pointer;
  border: 2px solid @red-pink;
}

.my-photo__tools-range-controls {
  display: grid;
  grid-gap: 20px;

  @media (max-width: @mobile-only) {
    padding-top: 36px;
    padding-left: 17px;
    padding-right: 18px;
  }
}

.my-photo__tools-lables {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  padding-right: 13px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-gap: 20px;
  }
}

.my-photo__promo {
  .setfont(14px,30px,@grey-blue,400);
  background-color: @basic-white;
  text-align: center;
  padding-top: 29px;
  margin-top: 0;
  padding-bottom: 42px;
}
