.my-photo {
  background-color: @grey-dark;
}

.my-photo__form {
  margin-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    padding-bottom: 44px;
  }
}

.my-photo__tools-lable {
  content: "";
  background-size: cover;

  @media (max-width: @mobile-only) {
    width: 32px;
    height: 32px;

    &--cutting {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 44px;
      height: 44px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .my-photo__tools-lable-svg {
    fill: @grey-blue;
    opacity: 0.3;
  }

  &:hover .my-photo__tools-lable-svg {
    fill: @grey-blue;
    opacity: 0.5;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.my-photo__tools-lable--cutting .my-photo__tools-lable-svg {
  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.my-photo__tools-lable--fill .my-photo__tools-lable-svg {
  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.my-photo__tools-lable--contrast .my-photo__tools-lable-svg {
  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.my-photo__tools-lable--active .my-photo__tools-lable-svg {
  fill: @red-pink;
  opacity: 1;
}

.my-photo__range-filter {
  /*-webkit-appearance: none;*/
  appearance: none;
  height: 2px;
  border-radius: 50px;
  background: @grey-blue;
  /*outline: none;*/
  position: relative;

  @media (max-width: @mobile-only) {
    display: none;

    &--current {
      display: inline-block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: @grey-blue;
    bottom: -34px;
    left: -60px;
    opacity: 0.1;

    @media (min-width: @tablet-width) {
      width: 275px;
      left: -55px;
    }

    @media (min-width: @desktop-width) {
      width: 411px;
      left: -92px;
    }
  }
}

.my-photo__range-filter::-webkit-slider-thumb {
  /*-webkit-appearance: none;*/
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: @basic-white;
  cursor: pointer;
  border: 2px solid @red-pink;
  fill: @red-pink;

  &:active {
    background: @red-pink;
  }
}

.my-photo__tools-range-controls {
  display: grid;
  grid-gap: 20px;

  @media (max-width: @mobile-only) {
    padding-top: 36px;
    padding-left: 17px;
    padding-right: 18px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 8px;
    grid-gap: 49px;
    min-width: 207px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 17px;
    grid-gap: 5px;
    min-width: 292px;
    grid-template-rows: 70px;
  }
}

.my-photo__tools-lables {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  padding-right: 13px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-gap: 40px;
    padding-right: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 42px;
    grid-template-rows: repeat(3, 74px);
    align-items: flex-start;
    grid-gap: 0;
  }
}

.my-photo__promo {
  .setfont(14px,30px,@grey-blue,400);
  background-color: @basic-white;
  text-align: center;
  padding-top: 29px;
  margin-top: 0;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    .setfont(18px,30px,@grey-blue,400);
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 64px;
  }
}
