.offer-download {
  background: @background url("../img/backdesktop.jpg") no-repeat center top;
  background-size: cover;
}

.offer-download__remark {
  .setfont(14px,24px,@basic-white,300);
}

.offer-download__button {
  border: 3px solid @basic-white;
  box-sizing: border-box;
  border-radius: 29px;
  .setfont(18px,18px,@basic-white,700);
  background: transparent;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 38px;
  padding-right: 39px;
}

.offer-download__slogan {
  margin-top: 0;
}
