.offer-download {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  background: @background url("../img/backmobile.jpg") no-repeat center top;
  background-size: cover;

  @media (min-width: @tablet-width) {
    padding-top: 74px;
    height: 729px;
  }
}

.offer-download__phone-image {
  /*@media (max-width: @tablet-width) {
    padding-top: 34px;
  }*/

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 34px;
    right: 0;
  }

  /*@media (max-width: @desktop-width)and (min-width: @tablet-width) {

  }*/
}

.offer-download__slogan {
  padding-top: 95px;
  text-align: center;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    width: 0.5*@tablet-width;
  }
}

.offer-download__wrapper {
  width: 100%;
}
