.page__main {
  position: relative;
  margin-top: -67px;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -194px;
  }
}

.page-main__prices {
  margin-top: 60px;

  @media (min-width: @tablet-width) {
    margin-top: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 134px;
  }
}

.page-main__download {
  @media (max-width: @desktop-width) {
    top: 268px;
  }

  @media (min-width: @desktop-width) {
    top: 339px;
  }
}

.page-main__reviews {
  z-index: 3;
}

.page-main__offer-download {
  margin-top: -69px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: -132px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 63px;
  }
}

.page-main__map {
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 9px;
  }
}
