.page__body {
  margin: 0;
  position: relative;
}

.page__footer {
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 47px;
    padding-bottom: 75px;
  }
}
