.photo {
  background-color: @grey-dark;
}

.photo__author {
  .setfont(14px,24px,@grey-blue,700);
}

.photo__created {
  .setfont(12px,24px,@grey-blue,300);
  text-transform: uppercase;
}

.photo__description {
  .setfont(14px,24px,@grey-blue,400);
}

.photo__likes {
  .setfont(12px,24px,@red-pink,400);
}

.photo-list__item {
  list-style-type: none;
}
