.prices {

  position: relative;
  background-color: @grey-dark;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 71px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 100px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
    bottom: 0;
    left: 0;
    background-color: @grey-dark;
    top: -30px;

    @media (min-width: @tablet-width) {
      height: 41px;
      top: -41px;
    }

    @media (min-width: @desktop-width) {
      height: 99px;
      top: -99px;
    }
  }


  .prices__table-column--header {
    @media (max-width: @mobile-only) {
      display: flex;
    }
  }

  .prices-value {
    .setfont(18px,30px,@basic-white,300);
  }
  .setcellstyle() {
    border: 2px solid @grey-white;
  }
}

.prices__wrapper {
  padding-top: 79px;

  @media (min-width: @tablet-width) {
    .center();
    padding-top: 55px;
  }

  @media (max-width: @mobile-only) {
    position: relative;
    overflow: hidden;
  }
}
