.prices {

  position: relative;
  background-color: @grey-dark;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 100px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
    bottom: 0;
    left: 0;
    background-color: @grey-dark;
    top: -30px;

    @media (min-width: @tablet-width) {
      height: 41px;
      top: -41px;
    }

    @media (min-width: @desktop-width) {
      height: 99px;
      top: -99px;
    }
  }

  &-title--hit::before {
    content: "";
    background-image: url("../img/hit.png");
    width: 74px;
    height: 74px;
    position: absolute;
    top: 0;
    background-size: cover;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 61px;
      height: 61px;
    }
  }

  .prices-feature--avalible {
    content: "";
    background-image: url("../img/yes.svg");
    height: 21px;
    width: 31px;
    background-repeat: no-repeat;
  }

  .prices-feature--unavalible {
    content: "";
    background-image: url("../img/no.svg");
    height: 27px;
    width: 27px;
    background-repeat: no-repeat;
  }

  .prices__table-column--header {
    @media (max-width: @mobile-only) {
      display: flex;
    }
  }

  .prices__table {
    position: relative;

    @media (min-width: @tablet-width) {
      .pagepadding();
      border-spacing: 2px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .prices__table-column {
    position: relative;
  }

  .prices__table-column-title {
    .setfont(16px,30px,@basic-white,700);
    text-align: center;

    &--hit {
      position: relative;
    }

    &--hit::after {
      position: absolute;
    }
    background-color: @grey-blue;
    min-width: 152px;
    position: relative;
    text-transform: uppercase;

    @media (max-width: @mobile-only) {
      width: 100vw;
      min-height: 97px;
      box-sizing: border-box;
      padding-top: 19px;
      display: flex;
      flex-direction: column;
    }

    @media (min-width: @tablet-width) {
      padding-top: 11px;
      padding-bottom: 6px;
      padding-right: 0;
      padding-left: 0;
      border-radius: 1px 0 0 0;
    }

    @media (min-width: @tablet-width) {
      padding-top: 15px;
      padding-bottom: 22px;
    }
  }

  .prices__feature,
  .prices__feature-name {
    background-color: @basic-white;
    padding-left: 19px;
    padding-bottom: 15px;
    padding-top: 14px;
    padding-right: 24px;
    background-position: center;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      text-transform: none;
    }
  }

  .prices__feature-name {
    @media (min-width: @tablet-width) {
      padding-top: 6px;
      padding-left: 15px;
      padding-right: 24px;
      padding-bottom: 10px;
    }

    @media (min-width: @desktop-width) {
      .setfont(18px,30px,@grey-blue,400);
      padding-top: 13px;
      padding-bottom: 14px;
      min-width: 234px;
      box-sizing: border-box;
      padding-left: 30px;
      padding-right: 0;
    }
  }

  .prices__feature {
    @media (max-width: @mobile-only) {
      position: absolute;
      left: 90vw;
    }

    @media (min-width: @tablet-width) {
      padding-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      min-width: 233px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .prices-value {
    .setfont(18px,30px,@basic-white,300);
  }
  .setcellstyle() {
    border: 2px solid @grey-white;
  }
}

.prices__wrapper {
  padding-top: 76px;

  @media (min-width: @tablet-width) {
    .center();
    padding-top: 55px;
  }

  @media (max-width: @mobile-only) {
    position: relative;
    overflow: hidden;
  }
}
