
.reviews__author {
  .setfont(18px,30px,@basic-black,700);
  margin-top: 0;
  margin-bottom: 0;
}

.reviews__author-info {
  .setfont(14px,30px,@grey-blue,400);
  margin-top: 0;
  margin-bottom: 0;
}

.reviews__text {
  .setfont(18px,30px,@grey-blue,400);

  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.reviews__item {
  list-style-type: none;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.reviews__list {
  padding-left: 0;
}

.reviews {
  @media (max-width: @tablet-width) {
    padding-top: 50px;
  }

  @media (max-width: @desktop-width) {
    padding-top: 109px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 193px;
  }
  background-color: @basic-white;
}

.reviews__prev,
.reviews__next {
  @media (max-width: @tablet-only) {
    display: none;
  }
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;

  &:hover path {
    fill: @grey-blue;
    opacity: 0.6;
  }

  &:active path {
    fill: @grey-blue;
    opacity: 0.1;
  }
}

.reviews__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    position: relative;

    &::before {
      content: "";
      background-image: url("../img/quotes.png");
      height: 63px;
      width: 79px;
      top: -58px;
      left: 50%;
      position: absolute;
      margin-left: -40px;
    }

    .reviews__prev {
      order: -1;
    }
  }
}
