.site-list {
  background-color: @grey-blue;
  display: flex;
  .setfont(18px,32px,@basic-white,700);
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  flex-direction: column;
  width: 100%;
  /*border-top: 1px solid @basic-black;*/

  @media (min-width: @desktop-width) {
    flex-direction: row;
    background-color: inherit;
    justify-content: space-between;
    border-top: none;
  }
}


.site-list__item a {
  text-decoration: none;
  color: @basic-white;

  &:hover {
    color: @red-pink;
  }

  &:active {
    color: rgba(@red-pink, 0.3);
  }
}

.site-list__item {
  text-align: center;
  border-top: 1px solid rgb(@basic-white, 0.15);
  border-bottom: 1px solid @basic-black;
  text-transform: uppercase;
  min-height: 65px;
  box-sizing: border-box;
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    min-height: 63px;
    box-shadow: 0 1px 0 @basic-black, inset 0 1px 0 rgba(@basic-white, 0.15);
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 43px;
    padding-right: 39px;
    padding-top: 45px;
    border-top: none;
    border-bottom: none;
    text-transform: none;
    .setfont(18px,18px,@basic-white,300);
    box-shadow: none;
  }
}
