.setfont(@size,@linehight,@color,@weight) {
  font-size: @size;
  line-height: @linehight;
  color: @color;
  font-weight: @weight;
}
.center() {
  margin-left: auto;
  margin-right: auto;

  @media (max-width: @tablet-width) {
    max-width: @mobile-width;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}
