@basic-black: black;
@grey-blue:#283645;
@basic-white:white;
@blue-black: #1D2631;
@red-pink:#D22856;
@grey-white:#E5E5E5;
@grey-dark:#F2F2F2;
@green-dark:#2AAB6D;
@background:#0E56A6;
@dark-blue:#1D2631;
@coma:#EFEFEF;

@mobile-width: 320px;
@mobile-only:659px;
@tablet-width: 660px;
@tablet-only: @desktop-width - 1px;
@desktop-width: 1200px;

@max-width:280px;

@media (min-width: @tablet-width) {
  @max-width:620px;
}

@media (min-width: @desktop-width) {
  @max-width:960px;
}
